<h1>Parks#index</h1>
<p>Find me in app/views/parks/index.html.erb</p>

<p>
<% @parks.each do |park| %>
  Name: <%= park.name %>
  Description: <%= park.description %>
  <%= park.picture %>
<% end %>
</p>
